<!doctype html>
<html lang="en">

<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Arrow Prime OOT</title>

	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="/assets/modules/bootstrap-5.1.3/css/bootstrap.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="/assets/css/style.css">
	<!-- FontAwesome CSS-->
	
	<!-- Boxicons CSS-->
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Apexcharts  CSS -->
	<!-- <link rel="stylesheet" href="assets/modules/apexcharts/apexcharts.css"> -->
</head>

<body>

	<!--Topbar -->


	<!--Sidebar-->
	<div class="sidebar transition overlay-scrollbars animate__animated  animate__slideInLeft">
		<div class="sidebar-content">
			<div id="sidebar">

				<!-- Logo -->
				<div class="logo">
					<h2 class="mb-0"><img src="/assets/images/logo.png"> Arrow Prime</h2>
				</div>

				<ul class="side-menu">
					<li>
                        <a href="/dashboard" class="active">
                            <i class='bx bxs-dashboard icon' ></i> Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="/user">
                            <i class='bx bxs-meh-blank icon'></i> 
                            User
                        
                        </a>
                    </li>
    
                    <!-- TV category -->
                    <li>
                        <a href="/tv_category">
                            <i class='bx bxs-meh-blank icon'></i> 
                            TV Category
                        </a>
                    </li>
    
                    <!-- Tv channels -->
    
                    <li>
                        <a href="/tv_channels">
                            <i class='fa fa-th icon' ></i> 
                             TV Channels
                            <i class='bx bx-chevron-right icon-right' ></i>
                        </a>
                        
                    </li>
                    <li>
                        <a href="/manage_video">
                            <i class='bx bxs-meh-blank icon'></i> 
                             Manage Video
                        </a>
                    </li>
                    <li>
                        <a href="/video_category">
                            <i class='fa fa-th icon' ></i> 
                            Video Category
                            <i class='bx bx-chevron-right icon-right' ></i>
                        </a>
                        
                    </li>
                    <li>
                        <a href="/manage_series">
                            <i class='fa fa-th icon' ></i> 
                            Series
                            <i class='bx bx-chevron-right icon-right' ></i>
                        </a>
                        
                    </li>
    
    
                    <li>
                        <a href="/notification">
                            <i class='bx bxs-meh-blank icon'></i> 
                            Notification
                        </a>
                    </li>
                    <li>
                        <a href="/price">
                            <i class='bx bxs-meh-blank icon'></i> 
                            Manage Price
                        </a>
                    </li>
                    
                    <li>
                        <a href="/advertisement">
                            <i class='bx bxs-meh-blank icon'></i> 
                            Advertisement
                        </a>
                    </li>
                    <li>
                        <a href="/contact">
                            <i class='bx bxs-meh-blank icon'></i> 
                            Client Enquiry
                        </a>
                    </li>
                    <li>
                        <a href="/feedback">
                            <i class='bx bxs-meh-blank icon'></i> 
                            Feedback
                        </a>
                    </li>
                            <a href="/logOut">
                                <i class='bx bxs-meh-blank icon'></i> 
                                Logout
                            </a>
                        </li>
					<!-- Divider-->
				</ul>



			</div>
		</div>
	</div><!-- End Sidebar-->


	<div class="sidebar-overlay"></div>



	<div class="content-start transition">
		<div class="container-fluid dashboard">

			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h4>Manage Session</h4>
                        <button class="btn btn-success  float-right" ><a style="color: beige;" href="/add_season/<%=ID%>">Add Season</a></button>
						<button class="btn btn-success  float-right" ><a style="color: beige;" href="/manage_series">Back</a></button>
					</div>
					<div class="card-body">
						<table class="table table-bordered">
                            <thead>
                              <tr>
								<th scope="col">Sl.No</th>
								<th scope="col">Season</th>
								<th scope="col">Series</th>
								<th scope="col" class="text-center" >Action</th>
                              </tr>
                            </thead>
                            <tbody>
								<% seriesh.forEach((element,index)=>{%>
									<tr>
	 										<!-- for Category -->
										<td><%=index +1%></td>
										<td><%=element.season_name%></td>
										<td><%=as%></td>
										<td>
											<div style="text-align: center;">
											<a href="/session/delete/<%=element._id%>" class="btn btn-success" role="button">Delete</i></a>
											<a href="/manage_episode/<%=element._id%>" class="btn btn-success" role="button">Manage Episode</i></a>
										</div>
                                        </td>
										
										
										
									</tr>
								
								<%})%>
                            </tbody>
                          </table>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	</div>
	</div>

	</div>



	<!-- Footer -->

	<!-- Preloader -->
	<!-- <div class="loader">
		<div class="spinner-border text-light" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div> -->

	<!-- Loader -->
	<!-- <div class="loader-overlay"></div> -->

	<!-- General JS Scripts -->
	<script src="/assets/js/atrana.js"></script>
	<script src="/assets/js/atrana.js"></script>
	

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<!-- JS Libraies -->
	
	<script src="/assets/modules/bootstrap-5.1.3/js/bootstrap.bundle.min.js"></script>
	

	<!-- Chart Js -->
	
	<!-- Template JS File -->
	<script src="/assets/js/script.js"></script>
	<script src="/assets/js/custom.js"></script>
</body>

</html>